@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-color: #eaeded;
  color: #111;
}

button,
input {
  font: inherit;
}

button {
  cursor: pointer;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 20px;
}